:root{
    --builderColorPrimary:#111111;
    --builderColorSecondary:#111111;
    --builderColorGrap:#673AB7;
    --builderColorGrap2:#7745d1;
    --builderColorGrap3:#8f51ff;
    --builderColor:#66F1D2;
    --builderColorRed:#FE4D2B;
    --builderColorDark:#000000;
    --builderColorDarkBg:#1b1f27;
}

body.Builder{
    color:white; 
    font-family: "Poppins", sans-serif;
    background: var(--builderColorDarkBg);
    overflow-x: hidden;
    user-select: none;
}
.Builder.currently_grap #andromede-editor *{
    box-shadow: 0 0 0 2px var(--builderColorGrap);
    cursor:grab;
}

.Builder .sortableDrag{
    opacity: 0!important;
    display: none!important;
}

.Builder #assetsKits *{
    cursor:grab;
    padding: 1rem!important;
    margin: 0.2rem!important;
}

.Builder #andromede-editor {
    background: var(--builderColorDarkBg);
    width: 79.8%;
    margin-left: 20.1%;
    padding-top: 4.1rem;
}

.Builder .choicedkit {
    background: black;
    padding: 1rem;
    font-size: 12px;
    color: white;
    border-radius: 3px;
}

.Builder.currently_grap .px-0{
    padding: 0.5rem!important;
}

.Builder .lateralAssets {
    margin: 0;
    padding-top: 4rem;
    top: 0;
    width: 20%;
    background-color: var(--builderColorPrimary);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.Builder .grabbingElement {
    animation: fadeIn 0.6s;
    background: var(--builderColor) !important;
    width: 100%;
    height: 10px!important;
    padding: 0!important;
    margin: 0!important;
    max-height: 10px!important;
    border: 1px solid var(--builderColor) !important;
    box-shadow: 0px 0px 2px 1px var(--builderColor) !important;
    overflow: hidden;
    position: relative;
    font-size: 0px;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

.Builder .grabbingElement > * {
    visibility: hidden;
}

.Builder .grabbingElement.hoveredParent{
    outline: solid 1px var(--builderColor);
}

.Builder .selectedBlock{
    box-shadow: 0 0 0 2px var(--builderColorGrap);
}
.Builder .context-menu {
    border-radius: 0px;
    font-size: 12px;
    list-style: none;
    padding: 0.2rem;
    background: var(--builderColorGrap2);
    z-index: 2;
}
.Builder .context-menu svg{
    width: 20px;
    height: 20px;
}
.Builder .context-menu li{
    margin: 0.2rem;
    background: var(--builderColorGrap3);
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;
}
.Builder .context-menu li:hover{
   background:white;
   color:var(--builderColorGrap);
}
.Builder .hoveredParent{
    outline: dashed 1px var(--builderColorGrap);
    cursor:grab;
}
.Builder .topbar{
    position: fixed;
    z-index: 100;
    padding: 1rem 0.5rem;
    background-color: var(--builderColorSecondary);
    width:100%;
}
.Builder .topbar button{
    background:transparent;
    border: 0;
    color:white;
}
.Builder .topbar button svg{
    width: 30px;
    height: 30px;
    stroke-width: 1;
}
.Builder .topbar button svg:hover{
   color:var(--builderColorGrap3);
}
.Builder.eclated #andromede-editor * {
    outline:solid 2px var(--builderColorGrap3);
    padding: 1rem!important;
}

.Builder.fullwidth #hideleftpanel svg,
.Builder.eclated #eclatedbtn svg{
    color:var(--builderColorGrap3);
}

.Builder .removedleft{
    left: -5000px;
}

.Builder.fullwidth #andromede-editor{
    width: 99.8% !important;
    margin-left: 0.1% !important;
}

.Builder.fullwidth #bottom_panel{
    width: 100%;
    margin-left: 0;
}

.Builder #sectionsList,
.Builder #assetsKits{
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.Builder #assetsKits div{
  background:#1d2028;
  height: 50px;
  border-radius: 0px;
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.1rem;
  font-size: 12px;
}
.Builder #assetsKits div:hover{
    opacity: 0.8;
    background:var(--builderColorGrap3);
}
.Builder .editorTitle{
    font-weight: 600;
    color:white;
}

.Builder #contentofblock {
    background: #1d2028;
    color: white;
    border: 0;
    padding: 0.2rem;
}

.Builder #bottom_panel {
    position: fixed;
    bottom: 0;
    width: 80%;
    margin-left: 20%;
    height: 50px;
    background: var(--builderColorSecondary);
    display: flex;
    z-index: 100;
}

.Builder .maxw_100{
    width: 100%!important;
    margin: 0!important;
}

.Builder .CodeMirror-hscrollbar{
    overflow: hidden;
}
.Builder #editor_{
    display: none;
    left: -5000px;
}
.Builder #editor_.show_editor {
    display: block;
    z-index: 150;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.Builder .head_module{
    display: flex;
    background: #1d2028;
    padding: 0.5rem;
}

.Builder .btnEditor{
    background: #ffffff;
    border-radius: 0px;
    font-size: 12px;
    border: 0;
    color:black;
    padding: 0.5rem 2rem;
}

.Builder andromede {
    display: block;
    width: 100%;
    background: #10131b;
    padding: 1rem;
}

.Builder .highlight{
    border:solid 10px var(--builderColor);
}

.Builder #breadcrumb{
    display: flex;
    font-size: 12px;
    align-items: center;
}

.Builder #breadcrumb .breaditem {
    background: #1d2028;
    padding: 0.2rem 0.4rem;
    border: solid 1px #202227;
    font-size: 12px;
    margin: 0.2rem;
    border-radius: 3px;
}

.Builder #breadcrumb .breaditem:hover{
    background: var(--builderColorGrap2);
    cursor: pointer;
}

.Builder .hoveredBlock {
    background: #009688;
    padding: 0.2rem 0.5rem;
    font-size: 12px;
    z-index: 1;
}

.Builder .addchildren button{
    background: #009688;
    padding: 0.2rem 0.5rem;
    font-size: 12px;
    z-index: 1;
    border-radius: 0px;
    border: solid 1px #009688;
    color:white;
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 0.2rem!important;
}

.Builder .inserteur{
    display: flex;
}

.Builder.currently_grap .context-menu,
.Builder.currently_grap .hoveredBlock {
    display: none;
}

.Builder .modalBlock {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.Builder .modal_container {
    background-color: var(--builderColorSecondary);
    margin: auto;
    border: 1px solid #282d39;
    width: 90%;
    position: relative;
    border-radius: 5px;
}

.Builder .close {
    color: white;
    font-size: 40px;
    position: absolute;
    font-weight: 200;
    top: -51px;
    right: 5px;
    background: var(--builderColorGrap);
    height: 50px;
    width: 50px;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Builder .close:hover,
.Builder .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.Builder .footermodal{
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: center;
}
.Builder .saveBuilderBtn{
    background-color: #8f51ff;
    padding: 10px 20px;
    color:white;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #282d39;
    margin-left:auto;
}
.Builder .saveBuilderBtn:hover{
    background-color: white;
    color:#8f51ff;
    border: 1px solid #8f51ff;
}

.Builder .tablist {
    display: flex;
    background-color: #1d2028;
}

.Builder .tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #1d2028;
    border: 0;
    color:rgba(255, 255, 255, 0.356);
}
.Builder .tab svg{
    stroke-width: 1;
}

.Builder .tab:hover{
    color:rgba(255, 255, 255, 0.781);
    background-color: #8e51ff65;
}

.Builder .tab.active {
    background-color: #8f51ff;
    color:white;
}

.Builder .tab-content {
    display: none;
}

.Builder .tab-content.active {
    display: block;
    padding: 0.5rem 0.2rem;
}

.Builder #isnoded{
    display: none;
}

.Builder input {
    background: #1d2028;
    border: 1px solid var(--builderColorSecondary);
    width: 100%;
    padding: 0.5rem;
    color: white;
    font-size: 14px;
    border-radius: 0!important;
}

.Builder input:focus {
    outline: 0;
    border:solid var(--builderColorGrap3) 1px;
    transition: all 0.6s;
}

.Builder .controlInput{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.Builder .controlInput label{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0.3rem;
}

.Builder #notif {
    position: fixed;
    top: 130px;
    right: 0%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.Builder #notif #content_msg {
    background: var(--builderColorGrap);
    padding: 1rem 2rem;
    box-shadow: 0 0 0px 2px var(--builderColorGrap3);
    max-width: 200px;
    font-size: 14px;
}
.Builder #notif .pictureMsg{
    position: absolute;
    top: -20px;
    right: -80px;
}
.Builder #notif #img_msg {
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.Builder #notif .iconsvg {
    position: absolute;
    background-color: black;
    border: solid 2px var(--builderColorGrap3);
    bottom: -10px;
    right: 0px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Builder .preview_device_600 andromede{
    width: 600px;
    margin: auto;
}

.Builder .soon {
    padding: 1rem;
    background: #8f51ff;
    text-align: center;
    font-weight: 800;
}

.Builder .buildercredits {
    margin-top: auto;
    width: 100px;
    background: transparent;
    border: 0;
    color: white;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0.2rem;
}

.Builder .credits {
    padding: 3rem;
}
.Builder .credits a{
    color:var(--builderColorGrap3);
}

.Builder #sectionsList .sectionPreview {
    width: 100%!important;
    min-height: 100px;
    position: relative;
    max-height: 250px;
    border-radius: 0!important;
    cursor: grab;
    margin: 0.5rem 0rem!important;
    flex-direction: column;
    overflow: hidden;
}
.Builder #sectionsList .sectionName {
    margin: 0;
    background: #8f51ff;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: 14px;
    font-weight: 400;
}

/*responsive*/
@media (max-width: 1300px) {
    .Builder #leftArea {
        left: -5000px;
        width: 0;
    }
    .Builder #andromede-editor{
        width: 100%;
        margin: 0;
    }
    .Builder #bottom_panel {
        width: 100%;
        margin-left: 0%;
    }
    .Builder #leftbarmoove{display: none;}
    .Builder .CodeMirror {
        height: 300px!important;
        overflow-x: scroll!important;
    }
}