<section class="id01 d-flex">
    <div class="container-fluid px-0 my-auto">
        <div class="row g-0">
            <div class="col-lg-4 padded">
                <p class="subtitle text-uppercase m-0">Powered by Altitude Dev</p>
                <h1 class="my-5">Web Builder JS</h1>
                <button class="btn_read mt-3">Discover on Steam</button>
            </div>
            <div class="col-lg-8 paddedRight mh600">
                <img src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1931730/ss_10ca3fd1274b80a20e7f98227207250f2a4da786.1920x1080.jpg?t=1726476862" alt="">
            </div>
        </div>
    </div>
</section>