<section class="id01 d-flex">
    <div class="container-fluid px-0 my-auto">
        <div class="row g-0">
            <div class="col-lg-8 offset-lg-2 padded mh600">
                <h2 class="my-5 text-center">Web Builder is OpenSource and 100% Free</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque gravida felis at faucibus efficitur. Sed sagittis elit metus, id molestie ante facilisis vitae. Curabitur fermentum mollis faucibus. Suspendisse semper nibh eget tellus varius finibus. Integer vulputate felis non iaculis ultricies. Praesent ac massa a risus ultricies venenatis. Aenean vitae lobortis risus. Quisque ut leo neque. Nam non turpis odio. Etiam sed porta nunc, at iaculis nulla. Praesent eget dui lacus. Quisque nec pellentesque enim, at volutpat sem. Ut erat est, imperdiet ac metus vel, lacinia euismod felis. Vestibulum euismod lacus mi, in dictum ligula bibendum eget. Pellentesque sed consequat felis. Nunc tempor nec ipsum elementum luctus.
                </p>
            </div>
        </div>
    </div>
</section>