.id01{
    background:#F5F5F5;
}
.id01 p{color:black;margin: 0;}
.id01 h2,
.id01 h3,
.id01 h1{
    color: #000000;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.05em;
    letter-spacing: -1.5px;
}
.id01 .subtitle{
    margin: 0;
    color:grey;
    font-weight: 400;
}
.id01 .btn_read{
    padding: 1rem 3rem;
    background: black;
    color:white;
    border: 0;
}
.padded {
    padding: 120px 5rem;
    background: #F5F5F5;
    min-height: 400px;
}
.paddedRight {
    min-height: 600px;
    position: relative;
    background: #989898;
    min-height: 400px;
}
.paddedRight img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
}
.mh600{
    min-height: 600px;
}
@media (max-width: 1300px) {
    .padded {
        padding: 120px 2rem;
    }
}